    //variables
    $purple: #723FC9;
    $lt-purple: #B38CEA;
    $lt-black: #19212D;
    $drk-gray: #49546A;
    $md-gray: #94999D;
    $lt-gray: #D9DEE5;
    $lt-white: #FEFEFF;
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Barlow Semi Condensed', sans-serif;
      background-color: $lt-gray;

    .grid-container {
        display: grid;
        grid-template-areas: 
          'daniel daniel jon kira'
          'jean patrick patrick kira';
        gap: 40px;
        max-width: 1200px;
        margin: 10vw auto;
    }

    .grid-container > div {
      text-align: left;
      padding: 25px;
      font-size: 13px;
      border-radius: 10px;
    }

    img {
      border-radius: 100%;
    }

    .name {
      display: inline-block
    }

    .item1 { 
      grid-area: daniel;
      background: $purple; 
      color: $lt-white;
    }

    .item2 { 
      grid-area: jon; 
      background: $drk-gray;
      color: $lt-white;
    }

    .item3 { 
      grid-area: kira; 
      background: $lt-white;
      color: $drk-gray;
    }

    .item4 { 
      grid-area: jean;
      background: $lt-white;
      color: $drk-gray;
    }

    .item5 { 
      grid-area: patrick; 
      background: $lt-black;
      color: $lt-white;
    }

    // responsive 
    @media only screen and (max-width: 768px) {
      .grid-container {
        display: grid;
        grid-template-areas: 
        'daniel'
        'jon'
        'jean'
        'patrick'
        'kira';
      }
    }
  }